@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import "~bootstrap/scss/bootstrap.scss";

html {
  background-color: #141414;
  font-family: sans-serif;
  color: white;
}

img {
  max-width: 100%;
}

i,
input {
  font-size: 1.2rem;
  min-width: 3rem;
  margin: 0 0.5rem;
}